<h1> Welcome to the Subscription Box for Wealth</h1>

<%= image_tag("Image6.jpeg", class: "img-responsive") %>

<h2> Your source for educational tools for builing wealth development in your home.</h2>

